<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/{{ with .Site.Params.icon }}{{ . }}{{ else }}profile.png{{ end }}">
    <title>{{.Title}}</title>
</head>

<body>
    <div  style="width: 1400px; overflow: hidden; margin: 0 auto">
        <a href="/archive">
            <h3>返回上一页</h3>
        </a>
        <article>
            <header>
                <h1 class="post-title">{{ .Title }}</h1>
            </header>
            <div>
                {{.Content}}
            </div>
        </article>
    </div>
        
</body>

</html>